{# templates/footer.html #}

{% load i18n %}

<div class="span10 offset2 info">
  <p>{% trans "FOO_DESC" %} <a href="mailto:david.casasmolina@gmail.com" target="blank" title="e-mail to: david.casasmolina@gmail.com" alt="e-mail">David Casas Molina</a> {% trans "FOO_USING" %} <a href="https://www.djangoproject.com" target="blank" title="djangoproject.com" alt="djangoproject.com">Django</a> {% trans "FOO_AND" %} <a href="http://twitter.github.io/bootstrap/" target="blank" title="twitter.github.io/bootstrap/" alt="twitter.github.io/bootstrap/">Bootstrap</a>.</p>
</div>
