{# templates/footer.html #}

<div class="span10 offset2 info">
    <p>Wep application designed by <a href="mailto:david.casasmolina@gmail.com" target="blank" title="e-mail to: david.casasmolina@gmail.com" alt="e-mail">David Casas Molina</a> using <a href="https://www.djangoproject.com" target="blank" title="djangoproject.com" alt="djangoproject.com">Django</a> and <a href="http://twitter.github.io/bootstrap/" target="blank" title="twitter.github.io/bootstrap/" alt="twitter.github.io/bootstrap/">Bootstrap</a>.</p>
</div>
