{# templates/login.html #}

{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block contentbody %}
<!-- Begin page content -->
<div class="wrapbar-up"></div>
<div class="container login">
  {% comment %} <a href="{% url 'oauth_auth' %}" title="{% trans "LOGIN_FS_TITLE" %}"> {% endcomment %}
  <a href="https://www.google.es" title="{% trans "LOGIN_FS_TITLE" %}">
    <img src="{% static "img/fs-login.png" %}" alt="{% trans "LOGIN_FS_ALT" %}" />
  </a>
</div>
<div class="wrapbar-down"></div>
{% endblock contentbody %}
