/*# Base styles #*/

html,
body {
  background-color: #e4e4e4; /* Grey */
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

code {
  font-size: 80%;
}


/*# Body styles #*/

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -55px;
  /* Pad bottom by footer height */
  padding: 0 0 55px;
}
#wrap > .container {
  padding: 55px 15px 0;
}


/*# Header and footer styles #*/

/* navbar */
.navbar-default {
  background-color: #63dc90; /* Light Green */
  border-color: #238b49; /* Dark Green */
}

/* title */
.navbar-default .navbar-brand {
  color: #238b49; /* Dark Green */
  font-style: italic;
  font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #238b49; /* Dark Green */
  font-style: italic;
  font-weight: bold;
}

/* link */
.navbar-default .navbar-nav > li > a {
  color: #238b49; /* Dark Green */
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #63dc90; /* Light Green */
  background-color: #238b49; /* Dark Green */
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #63dc90; /* Light Green */
  background-color: #238b49; /* Dark Green */
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #238b49; /* Dark Green */
  border-bottom-color: #238b49; /* Dark Green */
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #238b49; /* Dark Green */
  border-bottom-color: #238b49; /* Dark Green */
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #238b49; /* Dark Green */
  border-bottom-color: #238b49; /* Dark Green */
}

/* mobile version */
.navbar-default .navbar-toggle {
  border-color: #238b49; /* Dark Green */
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #238b49; /* Dark Green */
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #238b49; /* Dark Green */
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #63dc90; /* Light Green */
}
.navbar-default .navbar-nav .open .dropdown-menu {
  border-color: #238b49; /* Dark Green */
  background-color: #63dc90; /* Light Green */
}
.navbar-default .navbar-nav .open .dropdown-menu .divider {
  background-color: #238b49; /* Dark Green */
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #238b49; /* Dark Green */
  background-color: #63dc90; /* Light Green */
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #63dc90; /* Light Green */
  background-color: #238b49; /* Dark Green */
}
.navbar-default .navbar-nav .open .dropdown-menu > li > form > a {
  display: block;
  padding: 3px 20px;
  color: #238b49; /* Dark Green */
  background-color: #63dc90; /* Light Green */
  text-decoration: none;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > form > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > form > a:focus {
  color: #63dc90; /* Light Green */
  background-color: #238b49; /* Dark Green */
}

/* footer */
#footer {
  height: 55px;
  background-color: #63dc90; /* Light Green */
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
.container .credit {
  margin: 10px 0;
}
.goz-text {
  font-weight: bold;
  font-size: 12px;
  color: #238b49; /* Dark Green */
}
.goz-text > a {
  color: #238b49; /* Dark Green */
}
.goz-logo {
  margin-top: -15px;
  width: inherit;
  height: inherit;
}


/*# Login page styles #*/
.login {
  width: 90%;
  height: 150px;
  text-align: center;
  background-color: #238b49; /* Dark Green */
  border-radius: 15px;
  position: absolute;
  top: 40%;
  left: 5%;
}
.login > a > img {
  box-shadow: 1px 1px 10px #65E080;
}



/*# Responsive actions #*/
@media all and (max-width:25em) {
  .login {
    top: 30%;
  }
  .navbar-default .navbar-brand {
    margin-right: -10px;
    font-size: 1em;
  }
}
@media all and (max-width:23em) {
  .login > a > img {
    width: 200px;
  }
}
@media all and (max-width:22em) {
  .navbar-default .navbar-brand {
    margin-right: -25px;
    font-size: 0.9em;
  }
}


/* /1* Map page styles. *1/ */
/* #map { */
/*     width: 100%; */
/*     height: 516px; */
/*     border: solid 2px #808080; */
/* } */

/* #map img { */
/*     max-width: none; */
/* } */

/* #map label { */
/*     width: auto; display:inline; */
/* } */

/* #key-open { */
/*     text-align: center; */
/*     display: none; */
/*     margin-left: 8.5%; */
/*     position: absolute; */
/*     bottom: -25px; */
/*     width: 350px; */
/*     height: 25px; */
/*     cursor: pointer; */
/* } */

/* #key-close { */
/*     text-align: center; */
/*     margin-left: 8.5%; */
/*     position: absolute; */
/*     bottom: -25px; */
/*     width: 350px; */
/*     height: 25px; */
/*     cursor: pointer; */
/* } */

/* .arrow { */
/*     vertical-align:middle; */
/*     width: 5%; */
/*     height: 45%; */
/* } */

/* #container-key { */
/*     margin-left: 10%; */
/*     position: absolute; */
/*     top: inherit; */
/*     width: 350px; */
/* } */

/* #key { */
/*     background-color: #238b49; */
/*     border-radius: 0 0 20px 20px; */
/*     padding: 0px 6px 0px 5px; */
/*     width: inherit; */
/* } */

/* .key-background { */
/*     background-color: #63dc90; */
/*     border-radius: 20px 20px 20px 20px; */
/*     margin: 0; */
/* } */

/* .key-item { */
/*     margin: 10px; */
/*     padding: 10px; */
/*     background-color: #9EFFBB; */
/*     border-radius: 20px; */
/* } */
